.container {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1.25em;
    max-width: 80%;
    margin-left: auto;
}

.message {
    padding: 1.25em;
    background: #e8ebfa;
    border-radius: 0.5em;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
    outline: transparent solid 0.0625em;
}
