.questionInputContainer {
    border-radius: 0.5rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
    width: 100%;
    padding: 0.8rem;
    background: white;
}

.questionInputTextArea {
    width: 100%;
    line-height: 2.5rem;
}

.questionInputButtonsContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

@media (min-width: 992px) {
    .questionInputContainer {
        height: 8.625rem;
    }
}
