.canvasContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    pointer-events: none;
    background: #DCFF4A;
}

.canvasContainerContained {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    pointer-events: none;
    background: #DCFF4A;
    border-radius: inherit;
}

.canvas {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: inherit;
}
