.container {
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.chatRoot {
    flex: 1;
    display: flex;
    min-height: 0;
}

.chatContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 0;
}

.chatContainerCentered {
    justify-content: center;
}

.chatContainerWithMessages {
    justify-content: flex-start;
}

.chatEmptyState {
    display: grid;
    grid-template-rows: 1fr auto 1fr;
    justify-items: center;
    align-items: center;
    flex: 1;
    width: 100%;
}

.chatEmptyHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    gap: 0.75rem;
    align-self: end;
}

.chatHeaderBox {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #000000;
    margin-bottom: -2.25rem;
}

.chatHeaderText {
    padding-top: 52px;
}

.chatHeaderLogo {
    width: 82px;
    height: 82px;
    transform: scaleX(-1);
}

.chatHeaderTitle {
    margin: 0;
    font-size: 2.25rem;
    font-weight: 700;
    line-height: 1;
}

.chatEmptyInputRow {
    display: flex;
    justify-content: center;
    width: 100%;
}

.chatEmptyStateTitle {
    font-size: 2.75rem;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 1.875rem;
}

.chatEmptyStateSubtitle {
    font-weight: 600;
    margin-bottom: 0.625rem;
}

.chatMessageStream {
    margin-top: 1.25rem;
    flex: 1 1 auto;
    width: 100%;
    overflow-y: auto;
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    resize: horizontal;
    min-width: 50vw;
    min-height: 0;
}

.chatMessageGpt {
    margin-bottom: 1.25rem;
    max-width: 100%;
    display: flex;
}

.chatMessageGptMinWidth {
    max-width: 31.25rem;
    margin-bottom: 1.25rem;
}

.chatInput {
    padding: 1rem;
    width: 100%;
    max-width: 64.25rem;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chatInputSticky {
    flex: 0 0 auto;
    position: sticky;
    bottom: 0;
}

.chatAnalysisPanel {
    flex: 1;
    overflow-y: auto;
    max-height: 85vh;
    margin-left: 1.25rem;
    margin-right: 1.25rem;
}

.chatSettingsSeparator {
    display: flex;
    flex-direction: column;
    margin-top: 0.9375rem;
}

.loadingLogo {
    font-size: 1.75rem;
}

.commandsSplitContainer {
    display: flex;
    justify-content: space-between;
}

.commandsContainer {
    display: flex;
    padding-left: 1rem;
    padding-right: 1rem;
    align-self: flex-end;
}

.commandButton {
    margin-bottom: 1.25rem;
    color: #DCFF4A;
}

@media (min-width: 992px) {
    .container {
        margin-top: 0;
    }

    .chatEmptyStateTitle {
        font-size: 4rem;
    }

    .chatInput {
        padding: 1.5rem 1.5rem 1.5rem;
    }

    .commandsSplitContainer {
        padding-left: 1rem;
    }

    .commandsContainer {
        padding-left: 0rem;
        padding-right: 0rem;
    }

    .commandButton {
        margin-right: 1.25rem;
        margin-bottom: 1.25rem;
    }

    .chatMessageGpt {
        max-width: 80%;
        min-width: 31.25rem;
    }
}