/**
 * Styles for ParticleBackground component.
 * Provides absolute positioning to fill the parent container.
 */

.container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    pointer-events: none;
    border-radius: inherit;
    overflow: hidden;
}

.canvas {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: inherit;
}

